
    <ul class=" hidden lg:inline-flex shadow border-r-2 border-gray  px-10 p-5 dark:border-grey-blue">
        <li class="text-text-grey dark:text-white ">Popular</li>
        <li class="text-text-grey ml-5 dark:text-d-grey">For<span class="ml-2">You</span></li>
        <li class="text-text-grey ml-5 dark:text-d-grey">Messages</li>
    </ul>
    <div class="flex w-full justify-between items-center">
        <form >   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray sr-only dark:text-d-grey">Search</label>
            <div class=" hidden md:block relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="dark:bg-d-grey" class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="#d7d7d7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class=" hidden md:block w-full p-4 pl-10 text-sm text-gray border-none  bg-transparent  " placeholder="Search messages" required>
            </div>
        </form>
        <user-avatar class="mr-5"></user-avatar>
    </div>
