<!--Avatar with notification or without notification----->
<div class="relative flex items-center">
    <img class="w-10 h-10 rounded-full" src="{{image}}" alt="Avatar">
    <div *ngIf="notification" >
        <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-basic-blue border-2 border-white dark:border-gray-800 rounded-full"></span>
    </div>
    <div class="font-medium dark:text-white space-x-4">
        <p class="text-sm text-text-grey ml-5 dark:text-gray-400">{{name}} {{lastName}}</p>
    </div>
   
</div>
