
<div class="relative overflow-x-auto bg-white shadow mt-5 dark:bg-d-light-blue">
    <table class="w-full text-sm text-left text-text-grey ">
        <thead class="text-xs text-text-grey  dark:text-white ">
            <tr class="border-gray border-b-2 dark:border-grey-blue">
                <td scope="col" class="px-6 py-3">
                    Channel
                </td>
                <td scope="col" class="px-6 py-3">
                    Sessions
                </td>
                <td scope="col" class="px-6 py-3">
                    %of Traffic
                </td>
                <td scope="col" class="px-6 py-3">
                    Goal Rate
                </td>
                <td scope="col" class="px-6 py-3">
                    Goal
                </td>
                <td scope="col" class="px-6 py-3 flex justify-end">
                    <svg class="fill-text-grey w-5 dark:fill-grey-blue"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>dots-horizontal</title><path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class=" text-text-grey border-b-2 border-gray dark:text-white dark:border-grey-blue">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Direct
                </th>
                <td class="px-6 py-4">
                    3,397
                </td>
                <td class="px-6 py-4">
                    65.9%
                </td>
                <td class="px-6 py-4">
                    3.5%
                </td>
                <td class="px-6 py-4">
                    118
                </td>
                <td class="px-6 py-4 w-40">
                    <progres-bar></progres-bar>
                 </td>
            </tr>
            <tr class=" text-text-grey border-b-2 border-gray dark:text-white dark:border-grey-blue">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Email
                </th>
                <td class="px-6 py-4">
                    808
                </td>
                <td class="px-6 py-4">
                    15.7%
                </td>
                <td class="px-6 py-4">
                    1.9%
                </td>
                <td class="px-6 py-4">
                   15
                </td>
                <td class="px-6 py-4 w-40">
                    <progres-bar></progres-bar>
                 </td>
            </tr>
            <tr class=" text-text-grey border-b-2 border-gray dark:text-white dark:border-grey-blue">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Organic Search
                </th>
                <td class="px-6 py-4">
                    430
                </td>
                <td class="px-6 py-4">
                    8.3%
                </td>
                <td class="px-6 py-4">
                   0.2%
                </td>
                <td class="px-6 py-4">
                    1
                 </td>
                 <td class="px-6 py-4 w-40">
                    <progres-bar></progres-bar>
                 </td>
            </tr>
            <tr class="text-text-grey border-b-2 border-gray dark:text-white dark:border-grey-blue">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Paid Search
                </th>
                <td class="px-6 py-4">
                    194
                </td>
                <td class="px-6 py-4">
                    2.7%
                </td>
                <td class="px-6 py-4">
                   0.2%
                </td>
                <td class="px-6 py-4">
                    5
                 </td>
                 <td class="px-6 py-4 w-40">
                    <progres-bar></progres-bar>
                 </td>
            </tr>
            <tr class="text-text-grey  dark:text-white">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Referral
                </th>
                <td class="px-6 py-4">
                    108
                </td>
                <td class="px-6 py-4">
                    1.0%
                </td>
                <td class="px-6 py-4">
                   2.4%
                </td>
                <td class="px-6 py-4">
                    7
                 </td>
                 <td class="px-6 py-4 w-40">
                    <progres-bar></progres-bar>
                 </td>
            </tr>
        </tbody>
    </table>
</div>



