
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Channel
                </th>
                <th scope="col" class="px-6 py-3">
                    Sessions
                </th>
                <th scope="col" class="px-6 py-3">
                    %of Traffic
                </th>
                <th scope="col" class="px-6 py-3">
                    Goal Rate
                </th>
                <th scope="col" class="px-6 py-3">
                    Goal
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Direct
                </th>
                <td class="px-6 py-4">
                    3,397
                </td>
                <td class="px-6 py-4">
                    65.9%
                </td>
                <td class="px-6 py-4">
                    3.5%
                </td>
                <td class="px-6 py-4">
                    118
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Email
                </th>
                <td class="px-6 py-4">
                    808
                </td>
                <td class="px-6 py-4">
                    15.7%
                </td>
                <td class="px-6 py-4">
                    1.9%
                </td>
                <td class="px-6 py-4">
                   15
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Organic Search
                </th>
                <td class="px-6 py-4">
                    430
                </td>
                <td class="px-6 py-4">
                    8.3%
                </td>
                <td class="px-6 py-4">
                   0.2%
                </td>
                <td class="px-6 py-4">
                    1
                 </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Paid Search
                </th>
                <td class="px-6 py-4">
                    194
                </td>
                <td class="px-6 py-4">
                    2.7%
                </td>
                <td class="px-6 py-4">
                   0.2%
                </td>
                <td class="px-6 py-4">
                    5
                 </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Referral
                </th>
                <td class="px-6 py-4">
                    108
                </td>
                <td class="px-6 py-4">
                    1.0%
                </td>
                <td class="px-6 py-4">
                   2.4%
                </td>
                <td class="px-6 py-4">
                    7
                 </td>
            </tr>
        </tbody>
    </table>
</div>

