<!--Avatar with name and surname----->
<div class="flex items-center space-x-4">
    <svg  class="w-6 fill-gray dark:fill-grey-blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>bell</title><path d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" /></svg>
    <div *ngFor="let userAvatar of userAvatarList">
        <app-avatar
            (click)="execute()"
            [name]="userAvatar.name.first"
            [lastName]="userAvatar.name.last"
            [image]="userAvatar.picture.thumbnail"
        ></app-avatar>
    </div>
    <svg class="w-5 items-center fill-text-grey dark:fill-d-grey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-down</title><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
</div>

