<div class=" bg-white w-20 h-20">
    <p class="text-text-grey">{{category}}</p>
    <p class="text-text-grey">{{numberCategory}}</p>

    <div class="flex flex-row-reverse">
        <p class="text-text-grey">{{number}}%</p>
        <div *ngIf="number >= -1">
            <svg class="fill-red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-down</title><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
        </div>
        <div *ngIf="number>=0">
            <svg class="fill-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-up</title><path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" /></svg>
        </div>
    </div>
    
</div>
