<div class="flex">
    <nav-bar></nav-bar>
    <section class=" hidden lg:block border-r-2 border-gray border-b-2 dark:bg-bg-dark  dark:border-grey-blue dark:divide-grey-blue">
        <nav-interface></nav-interface>
        <div class="hidden lg:block border-t-2 border-gray dark:border-grey-blue">
            <ul class=" hidden lg:flex p-4 justify-center ">
                <li><svg class="fill-gray w-6 mr-3  dark:fill-d-grey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>account-supervisor</title><path d="M16.5,12A2.5,2.5 0 0,0 19,9.5A2.5,2.5 0 0,0 16.5,7A2.5,2.5 0 0,0 14,9.5A2.5,2.5 0 0,0 16.5,12M9,11A3,3 0 0,0 12,8A3,3 0 0,0 9,5A3,3 0 0,0 6,8A3,3 0 0,0 9,11M16.5,14C14.67,14 11,14.92 11,16.75V19H22V16.75C22,14.92 18.33,14 16.5,14M9,13C6.67,13 2,14.17 2,16.5V19H9V16.75C9,15.9 9.33,14.41 11.37,13.28C10.5,13.1 9.66,13 9,13Z" /></svg></li>
                <li><svg class="fill-gray w-6 mr-3  dark:fill-d-grey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>message-text</title><path d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M6,9H18V11H6M14,14H6V12H14M18,8H6V6H18" /></svg></li>
                <li><svg class="fill-gray w-6 dark:fill-d-grey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>email-outline</title><path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" /></svg></li>
            </ul>
        </div>
    </section>
    <!-- Dashboard -->
    <section class="w-full bg-bg-light dark:bg-bg-dark">
        <nav-header class=" bg-white flex h-16 items-center border-b-2 border-gray dark:bg-d-light-blue dark:border-grey-blue"></nav-header>
        <div class="p-10">
            <div class="block  lg:flex w-full justify-between items-center">
                <div class="flex items-center ">
                    <svg class="w-8 fill-gray dark:fill-d-grey"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>view-dashboard</title><path d="M13,3V9H21V3M13,21H21V11H13M3,21H11V15H3M3,13H11V3H3V13Z" /></svg>
                    <p class="text-text-grey ml-3 dark:text-white">Dashboard</p>
                </div>
                <div class="flex flex-col-reverse mt-5 lg:flex-row lg:mt-0">
                    <btn-time></btn-time>
                    <buttonBorder [calendar]= true label="24 Mar - 23 Apr2019"></buttonBorder>
                </div>
                
                <buttonBorder [add]= true label="Add Widget"></buttonBorder>
            </div>
            <div class="grid grid-cols-2 gap-2  lg:flex justify-between">
                <card-numbers 
                    *ngFor="let card of list"
                    [category]="card.category"
                    [numberCategory]="card.numberCategory"
                    [number]="card.number"
                ></card-numbers>
            </div>
            <div class="bg-white shadow  mt-5 p-5 dark:bg-d-light-blue">
                <h3 class="text-text-grey mb-5 dark:text-white">Dounle Click Campaing Stats</h3>
                <hr class="border-gray dark:border-grey-blue">
                <app-bar-chart ></app-bar-chart>
            </div>
         
            <div class="lg:flex">
                <data-table></data-table>
                <cities-table></cities-table>
            </div>
        

        </div>
        
    </section>
</div>
