<div class="flex">
    <nav-bar></nav-bar>
    <section>
        <nav-interface></nav-interface>
    </section>
    <section class="w-full bg-light-grey">
        <nav-header class=" bg-white flex h-16 items-center "></nav-header>
        <div class="p-10">
            <div class="flex w-full justify-between">
                <div class="flex items-center ">
                    <svg class="w-8 fill-gray"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>view-dashboard</title><path d="M13,3V9H21V3M13,21H21V11H13M3,21H11V15H3M3,13H11V3H3V13Z" /></svg>
                    <p class="text-text-grey ml-3">Dashboard</p>
                </div>
                <buttonBorder label="24 Mar - 23 Apr2019"></buttonBorder>
                <buttonBorder label="Add Widget"></buttonBorder>
            </div>
            <div class="md:flex">
                <card-numbers
                    *ngFor="let card of list"
                    [category]="card.category"
                    [numberCategory]="card.numberCategory"
                    [number]="card.number"
                ></card-numbers>
            </div>
         <app-bar-chart ></app-bar-chart>
            <div class="lg: flex">
                <data-table></data-table>
            </div>
        

        </div>
        
    </section>
</div>
