<section class="hidden lg:block pb-4">
    <h4 class="text-text-grey mt-7 dark:text-d-grey">Dashboard</h4>
    <ul class="text-text-grey dark:text-white">
        <li class="pt-3">Messages</li>
        <li class="pt-3">Notification</li>
        <li class="pt-3">Friends</li>
        <li class="pt-3 ">Messages<span class="bg-basic-blue w-8 h-8  rounded-full tx-sm text-white inline-flex justify-center items-center ml-4">4</span></li>
        <li class="pt-3">Calendar</li>
        <li class="pt-3">Users</li>
        <li class="pt-3">Top Charts</li>
    </ul>
</section>
