<button type="button" class=" flex items-center py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10   dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray"> 
    <span><svg class="w-4 fill-dark-grey mr-2 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus</title><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg></span>
    <span>{{label}} </span>
</button>
